@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  box-sizing: border-box;
}

h3 {
  font-family: 'Lora', serif;
  font-size: 28px;
  color: #000000;
  text-align: center;
}

.mainNav {
  display: flex;
}

.mainHeader {
  font-family: 'Lora', serif;
  font-size: 28px;
  color: #000000;
  flex: 1;
  align-items: center;
  vertical-align: middle;
}

.initial-user-entry{
  display: flex;
  flex-direction: column;

}

.left-main-column{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-nav{
  border-top: 1px solid gray;
  font-family: 'Lora', serif;
  font-size: 16.8px;
  color: #D7D7D7;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  vertical-align: middle;
  flex-direction: row;
  justify-content: space-between;
}

.selected {
  border-bottom: 2px solid #00FFE9;
}

.userInformationBox {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.userInfoName {
  font-family: 'Lora', serif;
  font-size: 38.4px;
  color: #000000;
}

.userInfoTag {
  font-family: 'Lora', serif;
  font-size: 19.8px;
  color: #000000;
}

.userInfoBio {
  font-family: 'Open Sans', sans-serif;
  font-size: 10.2px;
  color: #000000;
}

.update-user-entry{
  display: flex;
  flex-direction: column;

}
