@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  box-sizing: border-box;
}

h3 {
  font-family: 'Lora', serif;
  font-size: 28px;
  color: #000000;
  text-align: center;
}

.mainNav {
  display: flex;
  vertical-align: middle;
  font-size: 34px;
  justify-content: space-between;
}

.mainHeader {
  font-family: 'Lora', serif;
  font-size: 28px;
  color: #000000;
  margin: 0px;
}

.main-nav-search {
  margin-left: 0px;
  padding-left: 0px;
}


.initial-user-entry{
  display: flex;
  flex-direction: column;

}

.initialView {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.initial-left-main-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
}

.initial-right-main-column {
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin-right: 150px;
}


.bottom-nav{
  border-top: 1px solid gray;
  font-family: 'Lora', serif;
  font-size: 16.8px;
  color: #D7D7D7;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  vertical-align: middle;
  flex-direction: row;
  justify-content: space-between;
}

.selected {
  border-bottom: 2px solid #00FFE9;
}

.userInformationBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.userInfoName {
  font-family: 'Lora', serif;
  font-size: 38.4px;
  color: #000000;
}

.userInfoTag {
  font-family: 'Lora', serif;
  font-size: 19.8px;
  color: #000000;
}

.userInfoBio {
  font-family: 'Open Sans', sans-serif;
  font-size: 10.2px;
  color: #000000;
}

.userProfileSubmit {
  border: 1px solid black;
  background-color: #00FFE9;
  border-radius: 10px;
  text-align: center;
}

.update-user-entry{
  display: flex;
  flex-direction: column;

}

.landingContainer-friendProfile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-landingContainer-friendProfile {
  width: 50%;
  padding: 50px;
}

.right-landingContainer-friendProfile {
  display: flex;
  align-items: center;
  vertical-align: middle;
  padding-right: 200px;
}

.landingPageContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-landingPageContainer {
  width: 50%;
  padding: 50px;
}

.right-landingPageContainer{
  display: flex;
  align-items: center;
  vertical-align: middle;
  padding-right: 200px;
}

.find-page-container {
  display: flex;
}

.right-column-find {
  width: 10%;
  display: flex;
  flex-wrap: wrap;
}

.left-column-find {
  width: 50%;
}

.friend-search {
  border: 2px solid black;
  width: 160px;
  height: 20px;
  float: right;
  margin-right: 215px;
}

.removeFriendButton {
  color: white;
  background-color: black;
  border-radius: 10px;
}

.right-column-view{
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  vertical-align: middle;
  align-items: center;
}

.left-column-view {
  width: 60%;
  padding: 100px;
}

.view-main-container {
  display: flex;
}

.view-nav-bar{
  margin-bottom: 20px;
}

.find-page-container {
  display: flex;
}

.find-right-container{
  width: 40%
}

.find-left-container {
  width: 60%;
}

.update-main-container {
  display: flex;
  flex-direction: row;
}

.right-main-column-update {
  width: 40%;
  padding: 250px;
}

.left-main-column-update {
  width: 60%;
}
