
      <div class=view-nav-bar>
        <input class="friend-search" type='text' placeholder="Search for Friends" ng-model="friendName"><br />
      </div>
      <div class="view-main-container">
  				<div class="left-column-view">
            <div class="userInfoName"> {{ userName.name }} </div>
            <div class="userInfoTag"> {{ userName.tagline }} </div>
            <div class="userInfoBio"> {{ userName.bio }} </div>
  				</div>

  				<div class="right-column-view">
          <div ng-repeat="friend in friends | filter: friendName track by friend.id">
  					<a ng-click="friendClicked(friend.id)"><img ng-src="{{ friend.profilePic }}"/></a>
  					<div> {{ friend.name }} </div>
  					<button class="removeFriendButton" ng-click=removeFriend(friend.name)>Remove Friend</button>
  				</div>
  			</div>
  		</div>
